<div id="grid-container" class="ag-theme-alpine" style="height: calc(100vh - 120px);"></div>
<script type="text/javascript">
    const gridOptions = {
        animateRows: true,
        onRowClicked: params => {
            const id = params.data.id;
            window.location.href = `users/${id}`;
        }
    };
    const gridElement = document.querySelector('#grid-container');
    const grid = new agGrid.Grid(gridElement, gridOptions);

    const gridApi = gridOptions.api;
    $.ajax({
        url: '/api/v1/users/grid_data',
        dataType: 'json',
        success: function(data) {
            gridApi.setColumnDefs(data.columns);
        }
    });
    $.ajax({
        url: '/api/v1/users',
        dataType: 'json',
        success: function(data) {
            gridApi.setRowData(data.users);
        }
    });
</script>
