<div id="grid-container" class="ag-theme-alpine" style="height: calc(100vh - 150px);"></div>
<div class="card">
  <div class="card-header" style="font-size: small;">
    <span style="font-weight: lighter;">Total Rows: </span><span style="font-weight: bold"><%= @count %></span>
  </div>
</div>
<script type="text/javascript">
    var gridOptions = {
        animateRows: true,
        onRowClicked: params => {
            var id = params.data.id;
            window.location.href = `users/${id}`;
        }
    };
    var gridElement = document.querySelector('#grid-container');
    var grid = new agGrid.Grid(gridElement, gridOptions);

    var gridApi = gridOptions.api;
    $.ajax({
        url: '/api/v1/users/grid_data',
        dataType: 'json',
        success: function(data) {
            gridApi.setColumnDefs(data.columns);
        }
    });
    $.ajax({
        url: '/api/v1/users',
        dataType: 'json',
        success: function(data) {
            gridApi.setRowData(data.users);
        }
    });
</script>
