<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <span class="navbar-brand">UserHub</span>
    <%#= link_to 'UserHub', root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <% if current_user.admin? %>
          <li class="nav-item">
            <%= link_to root_path, class: 'nav-link' do %>
              <i class="fa fa-home"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_path, class: 'nav-link' do %>
              <i class="fa fa-user-plus"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure you want to logout?' } %>
  </div>
</nav>
